@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #000000;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-heading: var(--font-heading);
    --font-body: var(--font-body);
    --color-primary: #8a2be2;
    /* light mode */
    --color-secondary: #ffd700;
    --text-h1: 4.5rem;
    --text-h2: 3.5rem;
    --text-h3: 2.5rem;
    --text-body: 1rem;
    --breakpoint-sm: 640px;
    --breakpoint-lg: 1024px;

    /* Disable unused breakpoints */
    --breakpoint-md: initial;
    --breakpoint-xl: initial;
    --breakpoint-2xl: initial;
}

/* Dark mode overrides — activated only when .dark class is present */
.dark {
    /* --color-primary: #37115a;
    --color-secondary: #665600; */
}

/* limitting x border */
.max-w-screen-xl {
    max-width: 1280px;
}

html {
    scroll-behavior: smooth;
}